 .container {
 background-color: rgb(235, 221, 221);
 margin-right: 120px;
}
.total {
    font-size:24px;
}
.avatar {
    width:150px;
    height:150px;
    float:left;
}
.title {
    font-size:20px;
    color: black;
}

#rowid{
    margin-left: 90px;
    margin-bottom: 10px;
}

#query{
    width: 90%;
    margin-left: 83px;
} 

#submitBtn{
    margin-right: 150px;
    margin-left: 20px;;
}

#modalHeader {
    background-color: rgb(235, 221, 221);
}

